// Requried
// mixins/breakpoints

@each $align in center, left, right {
	.text-#{$align} {
		text-align: $align;
	}

	@include media(until-tablet) {
		.tablet-text-#{$align} {
			text-align: $align;
		}
	}

	@include media(mobile) {
		.mobile-text-#{$align} {
			text-align: $align;
		}
	}
}
