@use "sass:list";

@mixin box( $props... ) {

	@for $i from 1 through length($props) {
		$prop: list.nth($props, $i);

		@if not $prop == inline {
			display: flex;
		} @else if $prop == inline {
			display: inline-flex;
		} @else if $prop == vertical {
			flex-direction: column;
		} @else if $prop == horizontal {
			flex-direction: row;
		} @else if $prop == wrap {
			flex-wrap: wrap;
		} @else if $prop == nowrap {
			flex-wrap: nowrap;
		} @else if $prop == top not $prop == vertical {
			align-items: flex-start;
		} @else if $prop == bottom not $prop == vertical {
			align-items: flex-end;
		} @else if $prop == stretch {
			align-items: stretch;
		} @else if $prop == middle not $prop == vertical {
			align-items: center;
		} @else if $prop == left not $prop == vertical {
			justify-content: flex-start;
		} @else if $prop == right not $prop == vertical {
			justify-content: flex-end;
		} @else if $prop == center not $prop == vertical {
			justify-content: center;
		} @else if $prop == space-around {
			justify-content: space-around;
		} @else if $prop == space-between {
			justify-content: space-between;
		} @else if $prop == space-evenly {
			justify-content: space-evenly;
		} @else if $prop == top and $prop == vertical {
			justify-content: flex-start;
		} @else if $prop == bottom and $prop == vertical {
			justify-content: flex-end;
		} @else if $prop == middle and $prop == vertical {
			justify-content: center;
		} @else if $prop == left and $prop == vertical {
			align-items: flex-start;
		} @else if $prop == right and $prop == vertical {
			align-items: flex-end;
		} @else if $prop == center and $prop == vertical {
			align-items: center;
		}
	}
}
