@use "sass:list";
@use "sass:string";

/**
 * Transition mixin
 *
 * Example @include transition(opacity)
 * Result  transition: opacity .3s ease;
 */
@mixin transition( $props... ) {
	$result: ();

	@for $i from 1 through length($props) {
		$prop: list.nth($props, $i);
		$result: list.append($result, $prop);
		$result: list.append($result, 0.3s ease);

		@if $i != length($props) {
			$result: list.append($result, string.unquote($string: ","));
		}
	}

	transition: $result;
}
